<form [formGroup]="addressDetailsForm">
    <div class="form-group"> 
        <label>Country:-</label>                                         
        <select  class="form-control" formControlName="Country" (change)="getState()" 
        [ngClass]="{ 'is-invalid': submitted && f.Country.errors }">
            <option value="undefined" disabled selected>Select Country</option>
            <option  *ngFor="let country of countries" [value]="country.CountryId">{{country.CountryName}}</option>   
        </select>  
        <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
            <div *ngIf="f.Country.errors.required">Country is required</div>
        </div>
    </div>  
    <div class="form-group">
        <label>State:-</label>    
        <select  class="form-control" formControlName="State" (change)="getDistrict()" 
          [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
            <option value="undefined" disabled selected>Please select Country first</option>  
            <option *ngFor="let state of states" [value]="state.StateId">{{state.StateName}}</option> 
        </select>   
        <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
            <div *ngIf="f.State.errors.required">State is required</div>
        </div>
    </div>                                                                                                                
    <div class="form-group">  
        <label>District:-</label>                                    
        <select  class="form-control" formControlName="District" (change)="getPolicestation()" 
        [ngClass]="{ 'is-invalid': submitted && f.District.errors }">
            <option value="undefined" disabled selected>Please select State first</option> 
            <option *ngFor="let district of districts" [value]="district.DistrictId">{{district.DistrictName}}</option>
        </select>
        <div *ngIf="submitted && f.District.errors" class="invalid-feedback">
            <div *ngIf="f.District.errors.required">District is required</div>
        </div>
    </div>  
    <div class="form-group">   
        <label>Police Station:-</label>   
        <select class="form-control" formControlName="PoliceStation" 
        [ngClass]="{ 'is-invalid': submitted && f.PoliceStation.errors }">
        <option value="undefined" disabled selected>Please select District first</option> 
        <option *ngFor="let ps of policestation" [value]="ps.PolicestationId">{{ps.PolicestationName}}</option>              
        </select>  
        <div *ngIf="submitted && f.PoliceStation.errors" class="invalid-feedback">
            <div *ngIf="f.PoliceStation.errors.required">Police Station is required</div>
        </div>
    </div>  
    <div class="form-group">       
        <label>Street:-</label>    
        <input type="text" class="form-control" formControlName="Street"
        [ngClass]="{ 'is-invalid': submitted && f.Street.errors }"  placeholder=""> 
        <div *ngIf="submitted && f.Street.errors" class="invalid-feedback">
            <div *ngIf="f.Street.errors.required">Street is required</div>
        </div>                                                                                         
    </div>                                                                                                                   
    <div class="form-group"> 
        <label>House/Flat Number:-</label>                                          
        <input type="text" class="form-control" formControlName="HouseNo" (keypress)="keyPressAlphanumeric($event)"
        [ngClass]="{ 'is-invalid': submitted && f.HouseNo.errors }" placeholder=""> 
        <div *ngIf="f.HouseNo.touched && f.HouseNo.errors || submitted" class="invalid-feedback">
            <div *ngIf="f.HouseNo.errors.required">House no is required</div>
        </div>
    </div> 
    <div class="form-group">          
        <label>Lane no:-</label>   
        <input type="text" class="form-control" formControlName="Lane" (keypress)="keyPressNumbers($event)"
        [ngClass]="{ 'is-invalid': submitted && f.Lane.errors }"   placeholder="">
        <div *ngIf="f.Lane.touched && f.Lane.errors || submitted" class="invalid-feedback">
            <div *ngIf="f.Lane.errors.required">Lane no is required</div>
        </div>                                                                                               
    </div>
</form>
