<form [formGroup]="addressDetailsForm">
    <div class="form-group"> 
        <label>Country:-</label>                                         
        <select  class="form-control"  name="state" id="countySel" size="1" formControlName="Country"
        [ngClass]="{ 'is-invalid': submitted && f.Country.errors }">
            <option value="" selected="selected">Select Country</option>   
        </select>  
        <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
            <div *ngIf="f.Country.errors.required">Country is required</div>
        </div>
    </div>  
    <div class="form-group">
        <label>State:-</label>    
        <select name="countrya" id="stateSel" size="1" class="form-control" formControlName="State"
        [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
            <option value="" selected="selected">Please select Country first</option>  
        </select>   
        <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
            <div *ngIf="f.State.errors.required">State is required</div>
        </div>
    </div>                                                                                                                
    <div class="form-group">  
        <label>District:-</label>                                    
        <select  name="district" id="districtSel" size="1" class="form-control" formControlName="District"
        [ngClass]="{ 'is-invalid': submitted && f.District.errors }">
            <option value="" selected="selected">Please select State first</option> 
        </select>
        <div *ngIf="submitted && f.District.errors" class="invalid-feedback">
            <div *ngIf="f.District.errors.required">District is required</div>
        </div>
    </div>  
    <div class="form-group">   
        <label>Police Station:-</label>   
        <select id="cars" name="cars" class="form-control" formControlName="PoliceStation"
        [ngClass]="{ 'is-invalid': submitted && f.PoliceStation.errors }">
            <option value="policestation1">policestation</option>
            <option value="policestation2">policestation</option>                
        </select>  
        <div *ngIf="submitted && f.PoliceStation.errors" class="invalid-feedback">
            <div *ngIf="f.PoliceStation.errors.required">Police Station is required</div>
        </div>
    </div>  
    <div class="form-group">       
        <label>Street:-</label>    
        <input type="text" class="form-control" formControlName="Street"
        [ngClass]="{ 'is-invalid': submitted && f.Street.errors }"  placeholder=""> 
        <div *ngIf="submitted && f.Street.errors" class="invalid-feedback">
            <div *ngIf="f.Street.errors.required">Street is required</div>
        </div>                                                                                         
    </div>                                                                                                                   
    <div class="form-group"> 
        <label>House/Flat Number:-</label>                                          
        <input type="text" class="form-control" formControlName="HouseNo"
        [ngClass]="{ 'is-invalid': submitted && f.HouseNo.errors }" placeholder=""> 
        <div *ngIf="submitted && f.HouseNo.errors" class="invalid-feedback">
            <div *ngIf="f.HouseNo.errors.required">House no is required</div>
        </div>
    </div> 
    <div class="form-group">          
        <label>Lane no:-</label>   
        <input type="text" class="form-control" formControlName="Lane"
        [ngClass]="{ 'is-invalid': submitted && f.Lane.errors }"   placeholder="">
        <div *ngIf="submitted && f.Lane.errors" class="invalid-feedback">
            <div *ngIf="f.Lane.errors.required">Lane no is required</div>
        </div>                                                                                               
    </div>
</form>
