.bankdetails > div{
    margin: auto;
    width: 90%;
    padding: 10px 0px;
}
.is-invalid,
.invalid-feedback
{
    border-color: #dc3545;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;  
    display :initial;
}