<form [formGroup]="contactDetailsForm">                                       
    <div class="form-group has-feedback">  
        <label>Email Id:-</label>                                     
        <input type="text"  formControlName="EmailId" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }"  placeholder=""> 
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>  
        <div *ngIf="f.EmailId.touched && f.EmailId.errors || submitted" class="invalid-feedback">
            <div *ngIf="f.EmailId.errors.required">Email Id is required</div>
            <small class="text-danger" *ngIf="f.EmailId.errors?.pattern">Please provide a valid email
                address</small>
        </div>  
    </div> 

    <div class="form-group has-feedback">                                            
        <label>Mobile No:-</label>   
        <input type="text" class="form-control"  formControlName="ContactNo"  (keypress)="keyPressNumbers($event)"
        [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }" placeholder=""> 
        <span class="glyphicon glyphicon-phone form-control-feedback"></span>  
        <div *ngIf="f.ContactNo.touched && f.ContactNo.errors || submitted" class="invalid-feedback">
            <div *ngIf="f.ContactNo.errors.required">Mobile No is required</div>
            <small class="text-danger" *ngIf="f.ContactNo.errors?.pattern">Please provide a valid Mobile No</small>
        </div>
    </div>  
    <div class="form-group has-feedback">                                       
        <label>Landline No:-</label>   
        <input type="text" class="form-control" formControlName="LandlineNo" (keypress)="keyPressNumbers($event)"
        [ngClass]="{ 'is-invalid': submitted && f.LandlineNo.errors }"  placeholder=""> 
        <span class="glyphicon glyphicon-phone form-control-feedback"></span>  
        <div *ngIf="submitted && f.LandlineNo.errors" class="invalid-feedback">
            <div *ngIf="f.LandlineNo.errors.required">Landline No is required</div>
            <small class="text-danger" *ngIf="f.LandlineNo.errors?.pattern">Please provide a valid Landline No</small>
        </div>                                
    </div>                                 
</form>
