<div class="row login-row">
    <div class="login-box">
        <div class="login-logo">
            <b>Welcome</b>
        </div>
        <!-- /.login-logo -->
        <div class="box box-primary">
            <p class="login-box-msg">Sign in</p>

            <form [formGroup]="userform">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" formControlName="UserName" 
                    [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" placeholder="Email">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                        <div *ngIf="f.UserName.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" formControlName="Password" class="form-control" placeholder="Password" 
                    [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                        <div *ngIf="f.Password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-8">
                       <app-button color="#3c8dbc" text="Login" bcolor="#367fa9" (btnClick)="onSubmit()"></app-button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="#">I forgot my password</a><br>
            <!-- <a routerLink="/register" class="text-center">Register a new membership</a> -->

        </div>
        <!-- /.login-box-body -->
    </div>
</div>

<!-- /.login-box -->

<!-- jQuery 3 -->

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>